<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header::head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nifty-PcbAndPosite</title>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">
    <!--NAVBAR-->
    <!--===================================================-->
    <div th:include="header::headerContent"></div>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <div id="page-content">
                <!-- SPI -->
                <div class="row">
                    <div class="col-lg-14">
                        <!--Panel with Tabs-->
                        <!--===================================================-->
                        <div class="panel panel-default">

                            <!--Panel heading-->
                            <div class="panel-heading" style="height: 35px; line-height: 35px;">
                                <div class="panel-control">

                                    <!--Nav tabs-->
                                    <ul class="nav nav-tabs" style="height: 35px; line-height: 35px;margin-top: -30px;padding-top:5px ">
                                        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">SPI</a></li>
                                    </ul>

                                </div>
                                <h3 class="panel-title" > <b th:text="${lineNo}"></b> - HistoricalList</h3>
                                <input type="hidden" id="lineNo" th:value="${lineNo}"/>
                            </div>

                            <!--Panel body-->
                            <div class="panel-body">

                                <!--Tabs content-->
                                <div class="tab-content">
                                    <div id="demo-tabs-box-1" class="tab-pane fade in active">

                                        <div class="row" >

                                            <div class="col-lg-6 col-lg-offset-4">
                                                <div  id="sandBox-container">

                                                    <span  class="glyphicon glyphicon-calendar"></span>
                                                    <input size="16" type="text"  readonly  id="startTime" /> -
                                                    <input  size="16"  type="text"   readonly  id="endTime"/>
                                                    <!-- glyphicon glyphicon-search-->
                                                    <button type="button" class="btn  btn-info btn-xs"  onclick="refreshMainTable()">
                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Seach
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" >
                                                <!-- 状态树状列表 -->
                                                <div id="table-list"></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--End of panel with tabs-->
                    </div>
                </div>



            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

        <div th:replace="commonPage::aside-mainnav"></div>


    </div>

    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>

        <!--  &lt;!&ndash; Visible when footer positions are static &ndash;&gt;
          &lt;!&ndash; ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ &ndash;&gt;
          <div class="hide-fixed pull-right pad-rgt">
              14GB of <strong>512GB</strong> Free.
          </div>-->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2021 Sinic-Tek intelligent Technology Co.,Ltd 版权所有</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->

    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<div th:include="commonPage::demo-set-com"></div>

<script type="text/javascript">
    var lineNo = $('#lineNo').val();

    //时间选择器
    var nowDate = new Date();
    var dStart = dateFomate( nowDate.setDate(nowDate.getDate()-1),'yyyy-MM-dd HH:mm:ss' );
    var dEnd = dateFomate( nowDate.setDate(nowDate.getDate()+1),'yyyy-MM-dd HH:mm:ss' );
    $("#startTime").datetimepicker({
        //minView:"month",
        format: 'yyyy-mm-dd hh:ii:ss',
        language:"zh-CN",
        todayHighlight:true,
        showMeridian: true,
        autoclose: true,
        todayBtn: true,
        //pickerPosition: "bottom-left"
        //minuteStep: 1
    });
    $("#endTime").datetimepicker({
        //minView:"month",
        format: 'yyyy-mm-dd hh:ii:ss',
        language:"zh-CN",
        todayHighlight:true,
        showMeridian: true,
        autoclose: true,
        todayBtn: true,
        //pickerPosition: "bottom-left",
        //minuteStep: 1
    });
    $("#startTime").val(dStart) ;
    $("#endTime").val(dEnd) ;
    InitMainTable ();

    <!--   设备状态js代码  -->
    function InitMainTable () {
        $('#table-list').bootstrapTable({
            url: '/sStatus/historicalMonitorJson'+
                "?lineNo="+lineNo+"&inspectStartTime="+dStart+
                "&inspectEndTime="+dEnd ,                    //请求后台的URL（*）
            dataType:"json",
            method: 'GET',                      //请求方式（*）
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: true,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortName: 'updateTime',
            sortOrder: "desc",
            sortable: true,                     //是否启用排序
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 15,                     //每页的记录行数（*）
            pageList: [15, 25, 50, 100,'ALL'],        //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            minimumCountColumns: 2,             //最少允许的列数
            strictSearch: false,
            showColumns: false,                  //是否显示所有的列（选择显示的列）
            showRefresh: true,                  //是否显示刷新按钮
            clickToSelect: true,                //是否启用点击选中行
            height: 600,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            classes:'table table-striped table-hover',
            showExport: true,  //是否显示导出按钮
            buttonsAlign:"right",  //按钮位置
            Icons:'glyphicon-export icon-share',
            exportOptions:{
                //ignoreColumn: [0],  //忽略某一列的索引
                fileName: "spi_"+$("#startTime").val()+ "_"+$("#endTime").val()+ "status__line",  //文件名称设置
                worksheetName: 'sheet1',  //表格工作区名称
                tableName: '缺陷',
                excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                //onMsoNumberFormat: DoOnMsoNumberFormat
            },
            rowStyle: function(row, index) {
                var classes = [
                    'bg-blue',
                    'bg-green',
                    'bg-red'
                ]
                if (index % 2 == 0 ) {
                    return {
                        classes: 'success'
                    }
                }else{
                    return {
                        classes: 'info '
                    }
                }
            },
            //得到查询的参数
            queryParams : function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                return {
                    pageSize: params.limit,               //页面大小
                    pageNumber: params.offset/params.limit+1,  //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order //排位命令（desc，asc）
                };
            },

            columns: [{
                checkbox: true,
                align:'center',
                visible: true,

                //是否显示复选框
            }, {
                field: 'equipmentNo',
                title: 'Machine',
                width:400,
                align:'center',
                sortable: true
            }, {
                field: 'lineNo',
                title: 'LaneNo',
                align:'center',
                width:400,

                sortable: true
            }, {
                field: 'status',
                title: 'Status',
                align:'center',
                width:400,
                sortable: true,
                cellStyle: function (value, row, index){
                    if(row.status == 1) { return {css:{"background-color":"D9534F"}}  }
                },
                formatter: function (value, row, index){
                    //row.status ==0?"停止":row.status==1?"故障":"运行";
                    if(row.error==1){
                        return "error";
                    }else  if(row.run==1 && row.start==1){
                        return "run";
                    }else if(row.idle==1){
                        return  "idel";
                    }else{
                        return  "stop";
                    }
                    /*switch (row.status) {
                        case 0:
                            return "run";
                        case  3:
                            return  "stop";
                        case 2:
                            return  "idel";
                        case  1:
                            return "error";
                        default :
                            return "run";
                    }*/
                    return
                },
                cellStyle:function(value,row,index){
                    if(row.error==1) {
                        return {css: {"color": "#FF0000"}}
                    }else{
                        return {css: {"color": "#333333"}}
                    }
                }

            },{
                field: 'factory',
                title: 'Model',
                align:'center',
                sortable:true,
                width:400
                //formatter: linkFormatter
            }, {
                field: 'errContent',
                title:  'Alarm',
                align:'center',
                sortable: true,
                width:400
                //events:operateEvents,

            },{
                field: 'updateTime',
                title:  'dateTime',
                align:'center',
                sortable: true,
                width:400
            }],
            onLoadSuccess: function (sta) {
            },
            onLoadError: function (status,res) {
            },
            onDblClickRow: function (row, $element) {
            },
            onClickRow: function (row, $element) {
            },
        });
    };
    function refreshMainTable(){
        //获取时间区间
        dStart = $("#startTime").val();
        dEnd = $("#endTime").val();
        var opt = {
            url: '/sStatus/historicalMonitorJson'+
                "?lineNo="+lineNo+"&inspectStartTime="+dStart+
                "&inspectEndTime="+dEnd ,
            silent: true,
            query:{
                type:1,
                level:2
            }
        };
        $("#table-list").bootstrapTable('refresh', opt);
    }

</script>
</body>
</html>